<% if @medias.any? %>
    <ol class="medias">
      <% @medias.each do |media| %>
          <% public_media =  (@media_permissions[:is_public] == media.permission) %>
          <li id="<%= media.id %>" class="<%= 'public-media' if public_media %>">
            <span class="content">
                <%= link_to "#{media.description}", "#{media.url}", :target => "_blank" %>
            </span>
            <span class="public-media-placeholder"><%= 'Public Post: ' if public_media %></span>
            <span class="timestamp">
                Posted <%= time_ago_in_words(media.created_at) %> ago.
            </span>
                <%= link_to "delete", media, method: :delete,
                        data: { confirm: "Are you sure?"} %>
          </li>
      <% end %>
    </ol>
    <%= will_paginate @medias %>
<% end %>