<% provide(:title, "Home Page") %>
<div class="searchBar">
  <form action="/" method="GET">
    Search: <input type="text" name="q" style="width: 200px;" />
  </form>
</div>
<ul class="mediaList">
  <% @public_media.each do |media| %>
      <%
         img_url = media[:url].include?("youtube") ? 'http://gadgetbox.com.br/Mercadolivre/Anuncios/Peliculas_de_Vidro_Nillkin/Imagens/youtube-logo-play-button.png' : media[:url]
      %>
      <li class="mediaItem">
        <div class="imgWrap">
          <a href="<%= media[:url] %>" target="_blank">
            <img alt='Public Media' src="<%= img_url %>"/>
          </a>
        </div>
        <div class="descWrap">
          <%= media[:description] %>
        </div>
        <span class="timestamp">
                Posted <%= time_ago_in_words(media.created_at) %> ago.
            </span>
        <div class="clear"></div>
      </li>
  <% end %>
</ul>
<%= will_paginate(@public_media) %>